$main-color: #f6bfbc;
$second-color: #e4d2d8;
$third-color: #e9dfe5;
$fourd-color: #fdeff2;
$five-color: #fef4f4;

$font: 'Kaushan Script', cursive;

$xs : 575px;
$md : 767px;
$lg : 991px;
$xlg : 1199px;

body {
    background-color: $five-color;
    font-family: $font;
    height: 100%;
    margin: 0;
}

.parallax-outer {
    z-index: -1;
}

.banner {
    .parallax-banner-layer-0 {
        @media screen and (max-width: $xs) {
            background-position: center right !important;
        }
    }
    .title {
        color: white;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        text-shadow: black 4px 3px;
        margin-top: 40%;
        text-transform: uppercase;
        @media screen and (min-width: $md) and (max-width: $lg) {
            margin-top: 20%;
        }
        @media screen and (min-width: $lg) {
            margin-top: 12%;
        }
    }
}

.scroll-up {
    color: $main-color;
    font-size: 60px;
}

.scroll-more {
    color: $main-color;
    font-size: 90px;
    display: block;
    text-align: center;
    width: 100%;
}