$main-color: #f6bfbc;
$second-color: #e4d2d8;
$third-color: #3D2A5A;
$background-color: #fef4f4;

$font: 'Kaushan Script', cursive;

$xs : 575px;
$md : 767px;
$lg : 991px;
$xlg : 1199px;

body {
    background-color: $background-color;
    font-family: $font;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

#__next {
    overflow-x: hidden;
}

.parallax-outer {
    z-index: -1;
}

.scroll-up {
    color: $main-color;
    font-size: 60px;
}

.scroll-more {
    color: $main-color;
    font-size: 90px;
    display: block;
    text-align: center;
    width: 100%;
}

.mt-20 {
    margin-top: 20px !important;
}