.Home {
    .homescreen {
        margin: 0;
        height: 450px;
    }
    .news {
        margin-bottom: 50px;
        h2 {
            color: $third-color;
            font-weight: bold;
            font-size: 34px;
            text-align: center;
            text-shadow: $second-color 0.5px 0.5px;
        }
        .card-container {
            padding: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            .card-news-home {
                @media screen and (max-width: $xs) {
                    width: calc(40%);
                    font-size: 21px;
                }
                @media screen and (min-width: $xs) and (max-width: $md) {
                    width: calc(30%);
                }
                @media screen and (min-width: $md) and (max-width: $lg) {
                    width: calc(30%);
                }
                @media screen and (min-width: $lg) and (max-width: $xlg) {
                    width: calc(20%);
                }
                @media screen and (min-width: $xlg) {
                    width: calc(15%);
                }
                height: 80px;
                background-color: $second-color;
                text-shadow: black 0.5px 0.5px;
                color: white;
                text-align: center;
                border: 1px solid white;
                font-size: 25px;
                text-decoration: none;
                transition: 0.1s;
                cursor: pointer;
                position: relative;
                img {
                    width: 100%;
                    left: 0;
                    filter: blur(3px);
                    object-fit: cover;
                    height: 100%;
                }
                &-content {
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.4);
                    top: 0;
                    bottom: 0;
                    height: 80px;
                    width: 100%;
                }
                span {
                    @media screen and (max-width: $xs) {
                        transform: translateY(75%);
                    }
                    transform: translateY(50%);
                    display: block;
                }
                &:hover {
                    transform: scale(1.2, 1.2);
                    z-index: 1;
                    background-color: $main-color;
                }
            }
        }
    }
    .cta {
        text-align: center;
        margin-top: 20px;
        a {
            text-decoration: none;
            color: white;
            background-color: $main-color;
            padding: 10px 20px;
        }
    }
}