.Home {
    .homescreen {
        margin: 0;
    }
    .news {
        margin-bottom: 50px;
        h2 {
            color: $second-color;
            font-weight: bold;
            font-size: 34px;
            text-align: center;
            text-shadow: black 0.5px 0.5px;
        }
        .card-container {
            padding: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
    .scans {
        margin-bottom: 50px;
        h2 {
            color: $second-color;
            font-weight: bold;
            font-size: 34px;
            text-align: center;
        }
        .card-container {
            padding: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
    .cta {
        text-align: center;
        margin-top: 20px;
        a {
            text-decoration: none;
            color: white;
            background-color: $main-color;
            padding: 10px 20px;
        }
    }
}