.NewsDev {
    min-height: 600px;
    .card-container {
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}