.Scans {
    min-height: 600px;
    .container {
        @media screen and (min-width: $md) {
            display: flex;
        }
        h2 {
            color: $third-color;
            font-weight: bold;
            font-size: 34px;
            text-align: center;
            text-shadow: black 0.5px 0.5px;
            cursor: pointer;
            i {
                margin-left: 20px;
                font-size: 25px;
            }
        }
        .card-container {
            padding: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            display: none;
        }
        .open {
            display: flex;
        }
        .left {
            flex: 30%;
        }
        .center {
            flex: 20%;
        }
        .right {
            flex: 70%;
        }
    }
}