.Scans {
    .container {
        @media screen and (min-width: $md) {
            display: flex;
        }
        h2 {
            color: $second-color;
            font-weight: bold;
            font-size: 34px;
            text-align: center;
            text-shadow: black 0.5px 0.5px;
        }
        .left {
            flex: 20%;
            .card-container {
                padding: 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }
        .center {
            flex: 60%;
            .card-container {
                padding: 0 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }
        .right {
            flex: 20%;
            .card-container {
                padding: 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }
    }
}