footer {
    background-color: $main-color;
    padding: 20px;
    text-align: right;
    color: $third-color;
    text-shadow: white 0.5px 0.5px;
    a {
        float: left;
        color: $third-color;
        text-decoration: none;
    }
}