footer {
    background-color: $main-color;
    padding: 20px;
    text-align: right;
    color: $background-color;
    text-shadow: black 0.5px 0.5px;
    a {
        float: left;
        color: $background-color;
    }
}