.header {
    background-color: $background-color;
    box-shadow: 0px 5px 5px $main-color;
    position: fixed;
    text-align: center;
    z-index: 100;
    width: 100%;
    top: 0;
   .nav {
        padding: 0;
        margin: 0;
        z-index: 5;
        @media screen and (max-width: $md) {
          li {
            display: none;
          }
          .burger {
            display: block;
          }
        }
        li {
            @media screen and (min-width: $md) {
              display: inline-block;
            }
            cursor: pointer;
            padding: 15px;
            list-style-type: none;
            a {
                text-decoration: none;
                color:  $third-color;
                font-weight: bold;
                width: 100%;
                padding: 20px;
                &:hover {
                  color: $main-color;
                  text-shadow: black 0.5px 0.5px;
                }
            }
            .active {
              color: $main-color;
              text-shadow: black 0.5px 0.5px;
            }
        }
        .logo {
            position: relative;
            cursor: pointer;
            display: inline-block;
            &:hover {
                background-color: transparent;
            }
            .mini {
              width: 27px;
              left: 15px;
              top: 0;
            }
            img {
                position: absolute;
                top: 5px;
                width: 50px;
                transition: width, 0.5s;
                @media screen and (min-width: $md) {
                  left: 0;
                  // width: 70px;
                }
            }
        }
        .burger {
          float: right;
          cursor: pointer;
          i {
            color: $main-color;
          }
          @media screen and (min-width: $md) {
            display: none;
          }
        }

    }
    .nav-mobile {
      @media screen and (min-width: $md) {
        display: none;
      }
      padding: 0;
      margin: 0;
      padding-top: 50px;
      position: absolute;
      transition: all 600ms;
      top: -200px;
      right: -200%;
      width: 100%;
      z-index: -1;
      li {
          cursor: pointer;
          padding: 20px;
          list-style-type: none;
          position: relative;
          text-align: left;
          // border-bottom: 1px solid $main-color;
          a {
              text-decoration: none;
              color:  $main-color;
              font-weight: bold;
              width: 100%;
              padding: 20px;
              position: relative;
              text-transform: uppercase;
              font-size: 22px;
              &:hover {
                color: $second-color;
              }
              i {
                margin-left: 15px;
                position: relative;
                top: 2px;
                display: none;
              }
          }
          .active {
            color: white;
          }
      }
      &::before {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        content: '';
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        transition: all 500ms ease-in-out;
        clip-path: circle(20px at calc(100% - 20px) 25px);
        -webkit-clip-path: circle(20px at calc(100% - 20px) 25px);
        visibility: hidden;
      }
    }
    .menuIsOpen {
      right: 0;
      top: 40px;
    }
}

.menuIsOpenHeader {
  .nav-mobile:before {
    visibility: visible;
    clip-path: circle(100%);
    -webkit-clip-path: circle(100%);
  }
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

  .bounceIn {
    animation-duration: 2s;
    animation-name: bounceIn;
  }
