.tag-container {
    @media screen and (max-width: $md) {
        display: none;
    }
    padding: 20px;
    margin-top: 20px;
    .tag {
        cursor: pointer;
        margin: 0px 10px;
        color: $second-color;
        text-shadow: black 0.5px 0.5px;
        font-size: 20px;
        &:hover {
            color: $main-color;
            font-weight: bold;
        }
    }
    .tag:first-child {
        font-size: 30px;
    }
    .active {
        color: $main-color;
        font-weight: bold;
    }
}