.text {
    padding: 40px 20px;
    text-align: center;
    h2 {
        color: $third-color;
        font-weight: bold;
        font-size: 34px;
        margin-top: 10px;
        text-shadow: $second-color 0.5px 0.5px;
    }
    blockquote {
        background-color: $second-color;
        padding: 10px 20px;
        font-family: $font;
        display: inline-block;
    }
    a {
        color: $third-color;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
    }
}